* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

.wrapper {
  width: 715px;
  height: 1000px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.header-box {
  display: flex;
  align-items: flex-end;
  background-color: black;
  width: 100%;
  height: 115px;
  margin: 15px 15px 0px;
  color: white;
  padding: 15px;
  letter-spacing: 1px;
}

.header-box__left-text {
  margin-right: 20px;
}

.header-box__right-text {
  margin-left: auto;
}

.left-box {
  background-color: red;
  width: calc(670px * 2 / 3);
  height: 450px;
  margin: 15px;
  display: flex;
  align-items: flex-end;
}

.left-box__text {
  font-weight: 700;
  font-size: 200px;
  height: 190px;
}

.right-box {
  background-color: red;
  width: calc(670px * 1 / 3);
  height: 450px;
  margin: 15px 0;
}

.footer-box {
  background-color: red;
  width: 100%;
  height: 375px;
  margin: 0px 15px 15px;
}

.footer-box__top-text {
  font-size: 200px;
  font-weight: 700;
}

.footer-box__bottom-text {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}
