* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  height: 100vh;
}

.wrapper {
  height: 56vw;
  width: 100%;
  background-color: wheat;
  display: grid;
  grid-template-areas:
    "grid1 grid1 grid2 grid2"
    "grid1 grid1 grid2 grid2"
    "grid3 grid3 grid4 grid5"
    "grid3 grid3 grid6 grid7";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid {
  font-size: 5.3333vw;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid1 {
  grid-area: grid1;
  background-color: #dae7de;
  color: #f34508;
}

.grid2 {
  grid-area: grid2;
  background-color: #008a69;
}

.grid3 {
  grid-area: grid3;
  background-color: #f34508;
}

.grid4 {
  grid-area: grid4;
  background-color: #f7abc5;
  color: #f34508;
}

.grid5 {
  grid-area: grid5;
  background-color: #5f5fa9;
}

.grid6 {
  grid-area: grid6;
  background-color: #ffc129;
  color: #f34508;
}

.grid7 {
  grid-area: grid7;
  background-color: #f97374;
}
